.album-content {
    color: #f2f2f2;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    gap: 10px; /* Add spacing between elements */
    flex-grow: 1; /* Allow content to grow */
    overflow: hidden; /* Prevent overflow */
}

.album-songs-section {
    text-align: left; /* Align content to the left */
    margin-top: 20px; /* Add spacing from the top */
}

.album-songs-section h1 {
    font-size: 24px; /* Adjust heading size */
    margin-bottom: 10px; /* Add space below heading */
}

.album-songs {
    list-style: none; /* Remove bullet points */
    padding-left: 20px; /* Add padding for alignment */
    margin: 0; /* Remove default margin */
}

.album-songs li {
    font-size: 30px; /* Adjust font size */
    margin: 5px 0; /* Add spacing between list items */
}

.navigation-buttons {

    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.navigation-buttons button {
    background: #252323;
    color: white;
    width: 100px;
    height: 40px;
}
